<%- include("../partials/profileHeader.ejs") %>
<div class="container" id="main_content">
  <div class="table-responsive mt-5">
    <table class="table table-hover table-bordered text-center">
      <thead class="table-dark">
        <tr>
          <th>Category</th>
          <th>Type</th>
          <th>Description</th>
          <th>Image</th>
          <th>Posted</th>
          <th>Updated</th>
          <th>Erase</th>
        </tr>
      </thead>
      <tbody>
        <% if (locals.error) { %>
        <div class="alert alert-danger alert-dismissible">
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
          ></button>
          <strong>Error!</strong> <%= locals.error %>
        </div>
        <% } %> <% if(allList.length) { %> <% allList.forEach(list => { %>
        <tr>
          <td>
            <a
              href="#"
              data-bs-toggle="modal"
              data-bs-target="<%= `#id${list.id}2` %>"
              ><%= list.category %></a
            >
          </td>
          <td>
            <a
              href="#"
              data-bs-toggle="modal"
              data-bs-target="<%= `#id${list.id}` %>"
              ><%= list.category_type %></a
            >
          </td>
          <td>
            <a
              href="#"
              data-bs-toggle="modal"
              data-bs-target="<%= `#id${list.id}1` %>"
              ><%= list.category_description %></a
            >
          </td>
          <td>
            <% if (list.image_uploaded) { %>
            <a
              href="#"
              data-bs-toggle="modal"
              data-bs-target="<%= `#id${list.id}3` %>"
              ><%= list.image_uploaded %></a
            >
            <% } else { %>
            <a
              href="#"
              data-bs-toggle="modal"
              data-bs-target="<%= `#id${list.id}3` %>"
              >No image uploaded</a
            >
            <% } %>
          </td>
          <td><%= list.date_added %></td>
          <td><%= list.date_updated %></td>
          <td>
            <form action="/contents" method="POST">
              <input type="hidden" name="contentsID" value="<%= list.id %>" />
              <input
                type="hidden"
                name="imageName"
                value="<%= list.image_uploaded %>"
              />
              <button class="btn btn-danger btn-sm float-end">Delete</button>
            </form>
          </td>
        </tr>

        <!-- Modals for Updates -->
        <!-- For Edit Type -->
        <div
          class="modal fade"
          id="<%= `id${list.id}` %>"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Update Category
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <form action="/updateCategType/<%= list.id %>" method="POST">
                <div class="modal-body">
                  <input
                    type="text"
                    class="form-control"
                    name="editType"
                    value="<%= list.category_type %>"
                  />
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary btn-sm"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>

                  <button class="btn btn-primary btn-sm">Save Changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- For Edit Description -->
        <div
          class="modal fade"
          id="<%= `id${list.id}1` %>"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Update Description
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <form
                action="/updateCategDescription/<%= list.id %>"
                method="POST"
              >
                <div class="modal-body">
                  <textarea
                    name="editDescription"
                    class="form-control"
                    id="descriptionTextArea"
                    placeholder="Enter description..."
                    rows="5"
                  >
<%= list.category_description %></textarea
                  >
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary btn-sm"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>

                  <button class="btn btn-primary btn-sm">Save Changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- For Edit Category -->
        <div
          class="modal fade"
          id="<%= `id${list.id}2` %>"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Update Category
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <form action="/updateCateg/<%= list.id %>" method="POST">
                <div class="modal-body">
                  <div class="mb-3">
                    <label for="chooseCategory" class="form-label"
                      >Choose New Category:</label
                    >
                    <select
                      class="form-select"
                      aria-label="Default select example"
                      name="categories"
                    >
                      <option value="housing">Housing</option>
                      <option value="jobs">Jobs</option>
                      <option value="services">Services</option>
                      <option value="forSale">For Sale</option>
                      <option value="other">Other</option>
                    </select>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary btn-sm"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>

                  <button class="btn btn-primary btn-sm">Save Changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- For Edit Image -->
        <div
          class="modal fade"
          id="<%= `id${list.id}3` %>"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Image</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <form
                action="/updateImage/<%= list.id %>"
                method="POST"
                enctype="multipart/form-data"
              >
                <div class="modal-body">
                  <div class="mb-3">
                    <label for="imageUpload" class="form-label"
                      >Choose Image:</label
                    >
                    <input
                      type="file"
                      name="imageUpload"
                      class="form-control"
                    />
                  </div>
                  <input
                    type="hidden"
                    name="imageName"
                    value="<%= list.image_uploaded %>"
                  />
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary btn-sm"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button class="btn btn-primary btn-sm">Save Changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <% }); %> <% } else { %>
        <p class="text-center">You don't have contents yet.</p>
        <% } %>
      </tbody>
    </table>
  </div>
</div>

<%- include("../partials/footer.ejs") %>
