<%- include("../partials/header.ejs") %>
<div class="container" id="main_content">
  <h6 name="housing">Housing</h6>
    <div class="row">
        <% if(housingList.length) { %>
            <% for (let list of housingList) {%>
          <div class="col-sm-3">
          <div class="card text-dark bg-light mb-3">
            <% if(list.image_uploaded) {%>
            <img class="card-img-top" src="<%= `images/${list.users_id}/${list.image_uploaded}` %>" alt="<%= list.image_uploaded %>">
            <%} else {%>
            <img class="card-img-top" src="<%= `images/default_image.jpg` %>" alt="no image uploaded">
            <% } %>
            <div class="card-body">
              <h6 class="card-title"><%= list.category_type %></h6>
              <p class="card-text">
                <%= list.category_description %>
              </p>
              <a href="#" class="btn btn-primary btn-sm">More details</a>
            </div>
            <div class="card-footer">
              <p class="mb-0">Last Updated:</p>
              <p class="float-end mb-0"></p>
            </div>
          </div>
        </div>
          <% } %>
        <% } else { %>
          <p>Our housing lists are empty.</p>
        <% } %>
    </div>
</div>

<%- include("../partials/footer.ejs") %>
